{% extends 'base-backoffice.html.twig' %}

{% block title %}Edit Invoice{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header">
                <h1>Edit</h1>
            </div>
            <section class="content">
                {{ include('invoice/_form.html.twig', {'button_label': 'Update'}) }}
            </section>
        </div>
    </div>
{% endblock %}