{% extends 'base-backoffice.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header">
                <h1>Create new client</h1>
            </div>
            <section class="content">
                {{ include('client/_form.html.twig') }}
            </section>
        </div>
    </div>
{% endblock %}